version: '3'

services:
  django:
    container_name: django-app
    build:      .
    image:      django-app
    volumes: ["./django_app:/code/workspace"]
    command:   >
                sh -c "sleep 10
                       cd workspace
                       python3 manage.py runserver 0.0.0.0:8000"
    ports:      ["8000:8000"]
    depends_on: 
       - "db"
    networks:   ["django_net"]

  db:
    container_name: postgres_container
    image:      postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
    volumes: ["./postdb/database/:/var/lib/postgresql/data"]
    ports:      ["5432"]
    networks:   ["django_net"]

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    volumes:
       - pgadmin:/root/.pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    networks:
      - django_net
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes: ["./pgadmin:/root/.pgadmin"]
    ports:
      - "5050:80"
    depends_on: 
       - "db"

networks:
  django_net:
