{% load static %}

<!doctype html>
<html lang='pt-BR'>
	<head>
		<meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="type="image/png""/>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
		{% block head %}{% endblock head %}
		<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
		<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	</head>
	<body class = "body">
		<div class="page-header">
			<div class="logo">
				<a href="{% url 'base:index' %}">
				<img src="{% static 'img/logo.png' %}" alt="My image">
				</a>
			</div>
			<div class="left">
				<li><a href="{% url 'base:index' %}">Homepage</a></li>
				<li><a href="{% url 'base:new_graph' %}">New Graphic</a></li>
				<li><a href="{% url 'base:graphs' %}">Graphics</a></li>
			</div>
			<div class="right">
				{% if user.is_authenticated %}
					<div id=hello><li>Hello, {{ user.username }}!</li></div>
					<div id=logout><li><a href="{% url 'users:logout' %}">Logout</a></li></div>
				{% else %}
					<li><a href="{% url 'users:login' %}">Login</a></li>
					<li><a href="{% url 'users:register' %}">Register</a></li>
				{% endif %}
			</div>
		</div> <!-- end header -->
		<div class="content">
		{% block content %}{% endblock content %}
		</div> <!-- end content -->
	</body>
</html>
