{% extends "base/base.html" %}
{% load static %}
{% block head %}
 <title>CEP - Homepage</title>
<link rel="stylesheet" href="{% static 'css/graphs.css' %}"/>
{% endblock head %}

{% block content %}
<div class="graphic">
    {% if user.is_authenticated %}
		<p>Statistical process control of Temperature and humidity of a server room.</p>
	{% else %}
    	<p> Please proceed to login page if you want to see or make graphics </p>
		<p>Dev account:</p>
		<p>User: teste1</p>
		<p>Admin: Sulzbach</p>
		<p>Passwords(form both): justtest</p>
	{% endif %}
</div>
{% endblock content %}
