{% extends "base/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/graphs.css' %}"/>
 <title>CEP - Graphics</title>
{% endblock head %}

{% block content %}
	{% for graphic in graphics %}
		<div class="graphic">
			<div style="overflow-x:auto;">
				<table class="tables">
					<tr>
						<th colspan="2" id = "title">
							{% if graphic.tipo %}
								<p>Humidity Long Term Graphic</p>
							{% else %}
								<p>Temperature Long Term Graphic</p>
							{% endif %}
						</th>
					</tr>
				  	<tr>
				    		<th>Process capability(PC)</th>
				    		<td>{{ graphic.cp }}</td>
				  	</tr>
				  	<tr>
				    		<th>Process capability(PCK)</th>
				   		<td>{{ graphic.cpk }}</td>
				 	</tr>
					<tr>
				    		<th>Defects per million(DPM)</th>
				    		<td>{{ graphic.dpm }}</td>
				  	</tr>
				</table>
			</div>
			<br>
			<br>
			<div style="overflow-x:auto;">
				<table class="tables">
					<tr>
						<th colspan="3" id = "title">Control Rules</th>
					</tr>
					<tr>
						<th id = "title"></th>
						<th id = "title">Mean</th>
						<th id = "title">Standard Deviation</th>
					</tr>
					<tr>
						<th>Rule 1</th>
						<td>
						{% if graphic.rule1m %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
						<td>
						{% if graphic.rule1s %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
					</tr>
				  	<tr>
						<th>Rule 2</th>
						<td>
						{% if graphic.rule2m %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
						<td>
						{% if graphic.rule2s %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
				  	</tr>
				  	<tr>
						<th>Rule 3</th>
						<td>
						{% if graphic.rule3m %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
						<td>
						{% if graphic.rule3s %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
				  	</tr>
				  	<tr>
						<th>Rule 4</th>
						<td>
						{% if graphic.rule4m %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
						<td>
						{% if graphic.rule4s %}
							Out of Control
						{% else %}
							Controled
						{% endif %}
						</td>
				  	</tr>
				</table>
			</div>
			<br>
			<br>
			<div style="overflow-x:auto;">
				<table class="tables">
					<tr>
						<th colspan="3" id = "title">Control Limits</th>
					</tr>
					<tr>
						<th id = "title"></th>
						<th id = "title">Média</th>
						<th id = "title">Desvio Padrão</th>
					</tr>
					<tr>
						<th>LC</th>
						<td>{{graphic.LC}}</td>
						<td>{{graphic.LCs}}</td>
					</tr>
				  	<tr>
						<th>LSC</th>
						<td>{{graphic.LSC}}</td>
						<td>{{graphic.LSCs}}</td>
				  	</tr>
				  	<tr>
						<th>LIC</th>
						<td>{{graphic.LIC}}</td>
						<td>{{graphic.LICs}}</td>
				  	</tr>
				  	<tr>
						<th>LSE</th>
						<td>{{graphic.LSE}}</td>
						<td>-</td>
				  	</tr>
				  	<tr>
						<th>LIE</th>
						<td>{{graphic.LIE}}</td>
						<td>-</td>
				  	</tr>
				</table>
			</div>
			<br>
			<br>
			<img src="{% static graphic.img.url %}">
		</div>
		<br>
		<br>
	{% empty %}
		There are no graphics yet.
	{% endfor %}
{% endblock content %}
